USE [master]
GO
/****** Object:  Database [DrivingTestDB]    Script Date: 12/17/2025 8:22:04 PM ******/
CREATE DATABASE [DrivingTestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DrivingTestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DrivingTestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DrivingTestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DrivingTestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DrivingTestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DrivingTestDB]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 12/17/2025 8:22:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[AnswerId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[OptionKey] [char](1) NOT NULL,
	[OptionText] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 12/17/2025 8:22:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[Title] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 12/17/2025 8:22:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[Category] [nvarchar](50) NULL,
	[CorrectAnswer] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestCategories]    Script Date: 12/17/2025 8:22:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCategories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionCount] [int] NOT NULL,
	[DurationMinutes] [int] NOT NULL,
	[PassingScore] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestDetails]    Script Date: 12/17/2025 8:22:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestDetails](
	[TestDetailId] [int] IDENTITY(1,1) NOT NULL,
	[TestId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[SelectedAnswer] [char](1) NULL,
	[IsCorrect] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TestDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 12/17/2025 8:22:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[TestId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Score] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserActivityLogs]    Script Date: 12/17/2025 8:22:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActivityLogs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[Timestamp] [datetime] NULL,
	[Details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/17/2025 8:22:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Role] [tinyint] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([AnswerId], [QuestionId], [OptionKey], [OptionText]) VALUES (1, 1, N'A', N'Tốc độ tối đa cho phép.')
INSERT [dbo].[Answers] ([AnswerId], [QuestionId], [OptionKey], [OptionText]) VALUES (2, 1, N'B', N'Hết hạn chế tốc độ tối đa')
INSERT [dbo].[Answers] ([AnswerId], [QuestionId], [OptionKey], [OptionText]) VALUES (3, 1, N'C', N'Tốc độ tối thiểu.')
GO
SET IDENTITY_INSERT [dbo].[Answers] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackId], [UserId], [Message], [CreatedAt], [Status], [Title]) VALUES (8, 10, N'test', CAST(N'2025-08-27T08:11:05.250' AS DateTime), N'Chờ Xử Lý', N'123')
INSERT [dbo].[Feedback] ([FeedbackId], [UserId], [Message], [CreatedAt], [Status], [Title]) VALUES (9, 10, N'test', CAST(N'2025-08-27T08:24:38.363' AS DateTime), N'Chờ Xử Lý', N'456')
INSERT [dbo].[Feedback] ([FeedbackId], [UserId], [Message], [CreatedAt], [Status], [Title]) VALUES (10, 10, N'ftuf', CAST(N'2025-12-09T09:45:02.563' AS DateTime), N'Đã Xử Lý', N'hihi')
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionId], [QuestionText], [ImageUrl], [Category], [CorrectAnswer]) VALUES (1, N'Biển báo này là biển báo gì? (Biển tròn viền đỏ, nền trắng, số 50 bị gạch chéo)', N'/images/3767e412-f9e5-4c0a-9643-c01f5de68fc2.jpg', N'Luật giao thông', N'C')
INSERT [dbo].[Questions] ([QuestionId], [QuestionText], [ImageUrl], [Category], [CorrectAnswer]) VALUES (2, N'Khi gặp biển báo cấm dừng, xe cơ giới được phép:', NULL, N'Biển báo', N'A')
INSERT [dbo].[Questions] ([QuestionId], [QuestionText], [ImageUrl], [Category], [CorrectAnswer]) VALUES (3, N'Trong tình huống nào xe được phép vượt?', NULL, N'Luật giao thông', N'C')
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[TestCategories] ON 

INSERT [dbo].[TestCategories] ([CategoryId], [QuestionCount], [DurationMinutes], [PassingScore]) VALUES (1, 30, 20, 28)
INSERT [dbo].[TestCategories] ([CategoryId], [QuestionCount], [DurationMinutes], [PassingScore]) VALUES (2, 35, 22, 32)
INSERT [dbo].[TestCategories] ([CategoryId], [QuestionCount], [DurationMinutes], [PassingScore]) VALUES (3, 40, 24, 36)
SET IDENTITY_INSERT [dbo].[TestCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[TestDetails] ON 

INSERT [dbo].[TestDetails] ([TestDetailId], [TestId], [QuestionId], [SelectedAnswer], [IsCorrect]) VALUES (1, 10, 22, N'C', 0)
INSERT [dbo].[TestDetails] ([TestDetailId], [TestId], [QuestionId], [SelectedAnswer], [IsCorrect]) VALUES (2, 10, 90, N'C', 0)
INSERT [dbo].[TestDetails] ([TestDetailId], [TestId], [QuestionId], [SelectedAnswer], [IsCorrect]) VALUES (3, 11, 1, N'D', 0)
SET IDENTITY_INSERT [dbo].[TestDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([TestId], [UserId], [CategoryId], [Score], [StartTime], [EndTime]) VALUES (2, 3, 1, 8, CAST(N'2024-01-15T10:30:00.000' AS DateTime), CAST(N'2024-01-15T10:55:00.000' AS DateTime))
INSERT [dbo].[Tests] ([TestId], [UserId], [CategoryId], [Score], [StartTime], [EndTime]) VALUES (4, 5, 1, 10, CAST(N'2024-01-16T16:15:00.000' AS DateTime), CAST(N'2024-01-16T16:38:00.000' AS DateTime))
INSERT [dbo].[Tests] ([TestId], [UserId], [CategoryId], [Score], [StartTime], [EndTime]) VALUES (5, 6, 1, 13, CAST(N'2024-01-17T08:45:00.000' AS DateTime), CAST(N'2024-01-17T09:12:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
SET IDENTITY_INSERT [dbo].[UserActivityLogs] ON 

INSERT [dbo].[UserActivityLogs] ([LogId], [UserId], [ActionType], [Timestamp], [Details]) VALUES (1, 11, N'Đăng nhập', CAST(N'2025-08-24T15:19:57.800' AS DateTime), N'Người dùng ''unilateral4'' đã đăng nhập thành công.')
INSERT [dbo].[UserActivityLogs] ([LogId], [UserId], [ActionType], [Timestamp], [Details]) VALUES (2, 11, N'Đăng xuất', CAST(N'2025-08-24T15:20:11.827' AS DateTime), N'Người dùng ''unilateral4'' đã đăng xuất.')
INSERT [dbo].[UserActivityLogs] ([LogId], [UserId], [ActionType], [Timestamp], [Details]) VALUES (3, 11, N'Đăng nhập', CAST(N'2025-08-24T15:21:25.840' AS DateTime), N'Người dùng ''unilateral4'' đã đăng nhập thành công.')
GO
SET IDENTITY_INSERT [dbo].[UserActivityLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Email], [Role], [CreatedAt]) VALUES (1, N'admin', N'hashed_admin_password', N'admin@drivingtestdb.com', 1, CAST(N'2025-08-20T16:32:57.357' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Email], [Role], [CreatedAt]) VALUES (3, N'tranthib', N'hashed_password_456', N'tranthib@email.com', 0, CAST(N'2025-08-20T16:32:57.357' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Email], [Role], [CreatedAt]) VALUES (5, N'phamthid', N'hashed_password_111', N'phamthid@email.com', 0, CAST(N'2025-08-20T16:32:57.357' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E40672E29F]    Script Date: 12/17/2025 8:22:04 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[TestDetails] ADD  DEFAULT ((0)) FOR [IsCorrect]
GO
ALTER TABLE [dbo].[Tests] ADD  DEFAULT ((0)) FOR [Score]
GO
ALTER TABLE [dbo].[Tests] ADD  DEFAULT (getdate()) FOR [StartTime]
GO
ALTER TABLE [dbo].[UserActivityLogs] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Answers]  WITH NOCHECK ADD FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[TestDetails]  WITH NOCHECK ADD FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestDetails]  WITH NOCHECK ADD FOREIGN KEY([TestId])
REFERENCES [dbo].[Tests] ([TestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[TestCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserActivityLogs]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Answers]  WITH NOCHECK ADD CHECK  (([OptionKey]='D' OR [OptionKey]='C' OR [OptionKey]='B' OR [OptionKey]='A'))
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD CHECK  (([CorrectAnswer]='D' OR [CorrectAnswer]='C' OR [CorrectAnswer]='B' OR [CorrectAnswer]='A'))
GO
ALTER TABLE [dbo].[TestDetails]  WITH NOCHECK ADD CHECK  (([SelectedAnswer]='D' OR [SelectedAnswer]='C' OR [SelectedAnswer]='B' OR [SelectedAnswer]='A'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]=(1) OR [Role]=(0)))
GO
USE [master]
GO
